
@font-face {
    font-family: 'Lato';
    src: local('Lato-Regular') , local('Lato-Regular')
     url(../fonts/Lato-Regular.woff) format('woff'), 
     url(../fonts/Lato-Regular.woff2) format('woff2');
     font-weight:normal;
     font-style: normal;
     font-display: swap ;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-Bold') , local('Lato-Bold')
     url(../fonts/Lato-Bold.woff) format('woff'), 
     url(../fonts/Lato-Bold.woff2) format('woff2');
     font-weight: 700 ;
     font-style: normal;
     font-display: swap ;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato-Black') , local('Lato-Black')
     url(../fonts/Lato-Black.woff) format('woff'), 
     url(../fonts/Lato-Black.woff2) format('woff2');
     font-weight: 900 ;
     font-style: normal;
     font-display: swap ;
}