:root {
    --general-black: #1e212c;
    --accent-black: #424551;
    --general-grey: #787a80;
    --general-color: #7772F1;
    --accent-white: #fff;
    --transition: all .4s;
}

body {
    font-family: "Lato", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-black);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}


.main__agency {
    margin-top: 120px;
}



.mian__form {
    margin-top: 83px;
}

.main__service,
.main__client,
.main__plans,
.main__accord {
    margin-top: 180px;
}

.main__case {
    margin-top: 134px;
}

.main__benefit {
    margin-top: 86px;
}

.main__plans {
    margin-top: 180px;
}




.body--opened-menu {
    overflow: hidden;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid var(--general-color);
    padding: 10px 40px;
    background: var(--general-color);
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--accent-white);
    transition: var(--transition);
}

.button:hover {
    background: var(--accent-white);
    color: var(--general-color);

}

.title {
    display: flex;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: var(--general-black);
}

.input {
    display: flex;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 9px 12px;
    width: 100%;
    transition: var(--transition);
    color: var(--accent-white);
}

.input:focus {
    border: 1px solid rgb(3, 3, 3);
    box-shadow: 0 0 0 2px var(--accent-white);
}

.line {
    width: 100%;
    height: 1px;
    transition: var(--transition);
    background-image: linear-gradient(to right, transparent, #c5c9d5, transparent);
}

.line:hover {
    background-image: linear-gradient(to right, transparent, #fff, transparent);
}


/*******************************************************************/
/*******************************************************************/