:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #fff9f4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --transition: all .4s;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.main__about {
    margin: 140px 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 3px 15px;
    border-radius: 60px;
    height: 62px;
    background: var(--accent-color);

    transition: var(--transition);
}

.button:hover {
    background: #ff9138;

}

/* ********************************************************************* */

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 19px;

}

.header {
    background: url(../image/decor/header.png) 50% 100% / cover no-repeat;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo {
    width: 100%;
}

.nav {}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__item {}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);

    opacity: 0;
    transition: var(--transition);

}

.nav__link:hover::before {
    opacity: 1;


}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;

}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before {
    content: '';
    position: absolute;
    top: -8px;
}

.burger-icon span::after {
    content: '';
    position: absolute;
    bottom: -8px;
    ;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(-45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(45deg);
}

.header__hero {
    padding: 50px 0 140px;

}

/******************************************************************************** */


.hero {}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    margin-bottom: 20px;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    display: block;
    background: #b197b2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin: 0 11px;
}

.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    font-family: 'Gabriola';
    font-weight: 400;
    font-size: 74px;
    line-height: .82;
    color: var(--accent-text);
    margin-bottom: 30px;
}

.hero__text {
    max-width: 358px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
    width: 100%;

}

.hero__img {
    margin-right: 246px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    top: 72%;
    right: -42.5%;
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 200px;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    background: var(--accent-bg);
}


.hero__img-button img {
    padding-left: 36.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);

    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover:before {
    opacity: 1;
}

/********************************************************************/


.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 53px;
}

.about__img {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    color: var(--general-bg);
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.about__img-control {
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    display: flex;
    gap: 10px;
    padding: 15px 20px;
    align-items: center;
    border-radius: 20px;
    max-width: 300px;
    text-align: left;
    background: rgba(149, 123, 151, 0.9);
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    background: var(--general-bg);
}

.about__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid #ceaad0;

    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover:before {
    opacity: 1;
}

.about__img-button img {
    padding-left: 28.5%;
}

.about__heading {
    margin-bottom: 30px;
}

.about__title {
    font-family: 'Gabriola';
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
}

.about__text {
    margin-bottom: 40px;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(2, 296px);
    gap: 32px;
}

.about__grid-item {
    display: flex;
    gap: 15px;
    padding: 29px 24px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background: var(--accent-bg);

}

.about__grid-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #1F1711;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* ******************************************************************* */
.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    background: #1f171187;

    opacity: 0;
    visibility: hidden;
}

.modal--opened {
    display: flex;
    opacity: 1;
    visibility: visible;

}

.modal__body {
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 60px;
    width: 428px;
    height: 491px;
    background: var(--general-bg);

}

.modal__img {
    position: absolute;
    top: -13.5%;
    left: 17%;
}

.modal__cancel {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    top: 2.5%;
    left: 91%;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.modal__cancel:hover path {
    transition: var(--transition);
    stroke: var(--accent-color);
}

.modal__cancel:hover rect {
    transition: var(--transition);
    stroke: var(--accent-color);
}

.modal__about {
    margin: 73px 0 30px;

}

.modal__title {
    font-family: 'Gabriola';
    font-weight: 400;
    font-size: 42px;
    line-height: 90%;
}

.modal__email input {
    display: flex;
    background: var(--general-bg);
    border-radius: 60px;
    border: 1px solid #ac907a;
    ;
    padding: 19px 28px;
    width: 308px;
    height: 62px;
    justify-content: space-around;
}

.modal__email:hover input {
    transition: var(--transition);
    border: 1px solid var(--accent-color);
    ;
}

.modal__email:hover input::placeholder {
    transition: var(--transition);
    color: var(--accent-color);
    ;
}

.modal__btn {
    margin-top: 10px;
}




/* *************************************************** */
/* *************************************************** */
/* *************************************************** */

.footer {
    background: #AB8261;
    padding: 60px 0 66px;
    color: var(--general-bg);
}

.footer__inner {
    display: grid;
    gap: 40px 10px;
    justify-content: space-between;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}

.footer__colm:first-child {
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.socials {
    line-height: 0;
}


.socials__list {
    display: flex;
    gap: 15px;
}

.social__link:hover path {
    transition: var(--transition);
    fill: var(--accent-color);
}

.footer__colm-list {
    margin-top: -5px;

}

.footer__colm-item {
    margin-bottom: 10px;
}

.footer__colm-item:last-child {
    margin-bottom: 0;
}

.footer__colm-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__colm-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);

    opacity: 0;
    transition: var(--transition);

}

.footer__colm-link:hover::before {
    opacity: 1;
}


.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0px;
}



.footer__colm-tell {
    margin-bottom: 47px;
}

.footer__colm-num {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    text-transform: uppercase;
    transition: var(--transition);
}

.footer__colm-num:hover {
    color: var(--accent-color);
}

.footer__colm-copy {
    color: #dec5b1;
}











/* ==================================================== */
/* ==================================================== */
/* ==================================================== */


@media (max-width:1200px) {
    .hero__img {
        margin-right: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__colm:last-child {
        grid-column: 1/-1;
        text-align: center;
    }
}


@media (max-width:900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        opacity: 0;
        transform: translateY(-50%);
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0px;
    }

    .footer__colm:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__colm:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__colm:nth-child(3) {
        margin-bottom: 10px;
    }
}


@media (max-width:800px) {
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

}

@media (max-width:600px) {
    .header__hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }
}


/**************************************************************************************/
/**************************************************************************************/